In [1]:
import pandas as pd, requests, numpy as np
from bs4 import BeautifulSoup

In [2]:
url = "https://www.indexmundi.com/facts/united-states/quick-facts/north-carolina/percent-of-people-of-all-ages-in-poverty#table"
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.content)

In [6]:
df = []
for tr in soup.find_all("tr"):
    inner = []
    for td in tr.find_all("td"): 
        data = td.get_text().strip()  
        if data.isnumeric() == False:
            inner.append(data)
        elif data.isnumeric():
            data = int(data)
            inner.append(data)
        elif data == "&ndash;":
            inner.append(0)
    if inner != []:
        df.append(inner)

In [9]:
df_new = pd.DataFrame(df, columns=["County","Percentage"])
df_new

       County Percentage
0    Alamance       13.5
1   Alexander       13.0
2   Alleghany       18.7
3       Anson       20.5
4        Ashe       16.9
..        ...        ...
95      Wayne       20.2
96     Wilkes       18.9
97     Wilson       21.1
98     Yadkin       13.0
99     Yancey       17.8

[100 rows x 2 columns]

In [11]:
# store the data
df_new.to_csv("north_carolina_poverty.csv")